<h1>Hello, it's me, your Coach. What would you like to ask me today?</h1>

<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Ask me something.." >
  <input type="submit" value="Ask!">
</form>

